{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}

{% block style %}
	.lt > span {
		font-size: 24px;
		font-weight: bold;
	}
	w {
		margin-top: 20px;
	}
	wl {
		font-weight: bold;
		display: block;
	}
	m, d, w, us {
		display: block;
	}
	ms > *:not(:first-child) {
		margin-top: 10px;
	}
	ms > * {
		margin-left: 10px;
	}

	afx {
		color: #007F00;
		font-style: italic;
	}
	o {
		color: #007F00;
		font-style: italic;
	}
	d {
		margin-left: 20px;
		margin-top: 5px;

		text-align: justify;
		max-width: 90%;
		min-width: 400px;
	}
	du {
		font-weight: bold;
	}
	us {
		margin-top: 5px;
		max-width: 40%;
		min-width: 400px;
	}
	k {
		color: #0000FF;
		font-style: italic;
	}
	l {
		color: #C70039;
		font-weight: bold;
	}
{% endblock %}

{% block content %}

    <div class="container search">
      <form id="search" class="d-flex">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="word">
      </form>
    </div>

    <div class="container word_data">
        <span id="word_data"></span>
    </div>

  <script>
    function addSubmit(ev) {
      ev.preventDefault();
      var request = new XMLHttpRequest();
      request.addEventListener('load', addShow);
      request.open('POST', {{ url_for('get_loglan_word')|tojson }});
      request.send(new FormData(this));
    }

    function addShow() {
      var data = JSON.parse(this.responseText);
      var span = document.getElementById('word_data');
      span.innerHTML = data.result;
    }

    var form = document.getElementById('search');
    form.addEventListener('submit', addSubmit);
  </script>
{% endblock %}